<div class="center" style="padding-bottom: 2em;">
    <div class="data">

        <form action="/logins" method="POST">
            <h4>Enter Name Below: </h4><input type="string" onfocus="this.value=''" name="user" value=""
                placeholder="Enter A Name" style="width: 13em;height:2em;text-align: center;">
            <div style="padding-top: 1em;">
                <button class="button-primary AddBtn" on type="submit" name="button2" id="button2">Log In</button>
            </div>

        </form>


    </div>
                    <div class="error" style="padding: 1em;">
                    {{messages.error}}
                </div>
</div>