<div class="center" style="padding-bottom: 2em;">
    <div class="data">
        <form action="/waiters/:username" method="POST">
            <div style="padding: 1em;">
                <h3>HELLO {{userz}}</h3>

                <div class="error" style="padding: 1em;">
                    {{messages.error}}
                </div>

                <div style="padding: 1em;">
                    <h4>
                        Please Select Days
                    </h4>
                </div>

                <label>Monday <input type="checkbox" name="days" value="Monday" id=""></label>
                <label>Tuesday <input type="checkbox" name="days" value="Tuesday" id=""></label>
                <label>Wednesday <input type="checkbox" name="days" value="Wednesday" id=""></label>
                <label>Thursday <input type="checkbox" name="days" value="Thursday" id=""></label>
                <label>Friday <input type="checkbox" name="days" value="Friday" id=""></label>
                <label>Saturday <input type="checkbox" name="days" value="Saturday" id=""></label>
                <label>Sunday <input type="checkbox" name="days" value="Sunday" id=""></label>

            </div>
            <button class="button-primary AddBtn" on type="submit" name="button" id="button">Submit</button>
        </form>
    </div>
</div>